* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root{
    --main_color: black;
    --second_color: white;
    --border_size: var(--border_size);
    --main-font : 'Inter', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: var(--main-font);
   font-weight: bolder;

}

h1 {
    font-size: 40px;
    font-family: var(--main-font);
    font-family: 'Inter', sans-serif;
}
body .nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: var(--main_color);
   height: 100px;
   width: 100%;
   color: var(--second_color);
}
body .nav a{
    text-decoration: none;
    color: var(--second_color);
    margin-left: var(--border_size);
    font-family: var(--main-font)

}

body .nav .link{
    margin: 20px
}

main {
    margin-left: 150px;
    margin-right: 150px;
}
main .aboutme {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutme .aboutme_paragraph {
    padding-left: 5px;
    font-family: var(--main-font);
    font-size: 20PX;
}

.aboutme h2 {
    text-align: right;
    border-right: 3px solid black;
    padding-right: 10px;
}

main .projects {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
 .projects .project_card {
    padding-left: 5px;
    border-left: 3px solid black;
 }

 .projects h2 {
    text-align: right;
    padding-right: 20px;
 }

 .card {
    flex: 1 0 0;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-width: var(--border_size);
  }

  .card img:hover{
    opacity: 100%;
  }

 .card img {
    width: 100%;
    min-width: 400px;
    opacity: 40%;
 }
 .card header {
    padding: 15px;
    background: rgb(80, 79, 79);
    color: #fff;
    font-weight: bolder;
  }

  .card a{
    text-decoration: none;
    color: white;
  }

  .card p {
    color: white;
    background-color: rgb(80, 79, 79);
    padding: 10px
  }

  .project_card {
    display: flex;
    flex-wrap: wrap;
  }

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: black;
    width: 100%;
    font-family: var(--main-font)

}

footer h2 {
    margin-left: 90px;
    padding-right: 20px;
    border-right:3px solid white ;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 150px;
    font-family: var(--main-font);

}

a:hover {
    text-decoration: underline;
}

footer .contact{
    margin: 20px
}

/* for mobile phones */

@media screen and (max-width: 768px) {
    body .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        width: 100%;
    }
    main {
        margin-left: 5px;
        margin-right: 5px;
    }
    main .aboutme {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutme h2 {
        text-align: center;
        border-right: none;
        padding-right: 0;
        padding-bottom: 10px;
    }

    main .projects {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .projects h2{
        text-align: center;
        padding-bottom: 10px;
    }

    .projects .project_card {
        padding-left: 0px;
        border-left: none
     }
     .card {
        border-style:dashed;
        border-width: 2px;
      }

      footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: 'Inter', sans-serif;
    
      }
      footer a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0px;
        padding: 5px;
      }
      footer h2 {
        margin-left: 0;
        padding-right: 0;
        border-right:none ;
        color: white;
      }
      footer .contact {
        margin: 10px;
      }
    
}

@media only screen and (max-width: 667px){
    body .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: fit-content;
        width: 100%;
    }
    main {
        margin-left: 5px;
        margin-right: 5px;
    }
    main .aboutme {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aboutme h2 {
        text-align: center;
        border-right: none;
        padding-right: 0;
        padding-bottom: 10px;
    }

    main .projects {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .projects h2{
        text-align: center;
        padding-bottom: 10px;
    }

    .projects .project_card {
        padding-right:5px;
        border-left: none
     }
     .card {
        border-style:dashed;
        border-width: 2px;
        
      }
    
      footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    
      }
      footer a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0px;
        padding: 5px;
      }
      footer h2 {
        margin-left: 0;
        padding-right: 0;
        border-right:none ;
        color: white;
      }
      footer .contact {
        margin: 5px;
      }
}
















