* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body .nav{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: rgb(243, 243, 232);
   height: 100px;
}
body .nav a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

body .nav .link{
    margin: 20px
}

main {
    margin-left: 45px;
    margin-right: 45px;
}
main .aboutme {

}
